.contact {
    padding: 50px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.email-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.email-header1 {
    font-family: 'Archivo Black';
    font-size: 80px;
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.email-header2 {
    font-family: 'Archivo';
    font-size: 20px;
    color: white;
    max-width: 380px;
}

.email-header-container {
    padding: 20px;
}

.email-container {
    padding-bottom: 50px;
}

.email {
    font-family: 'Archivo Black';
    font-size: 100px;
    color: white;
    display: inline;
    position: relative;
    overflow: hidden;
}

.email a {
    color: white;
    text-decoration: none;
}

.email:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  width: 0;
  bottom: -15px;
  background: white;
  height: 10px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.email:hover:after,
.email:focus:after,
.email:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.social-links {
    padding: 20px;
}

.social-links a {
    margin-right: 10px;
}

.linkedin-img,
.github-img,
.angellist-img {
    max-width: 30px;
}


@media only screen and (max-width: 1080px) {
    .email-header1 {
        font-size: 40px;
    }

    .email {
        font-size: 80px;
    }
}

/* 
600
414
375 */

@media only screen and (max-width: 812px) {
    .email-header1 {
        font-size: 40px;
    }

    .email-header2 {
        font-size: 14px;
        max-width: 250px;
    }

    .email {
        font-size: 60px;
    }
}

@media only screen and (max-width: 736px) {
    .email {
        font-size: 55px;
    }
}

@media only screen and (max-width: 600px) {
    .email-header1 {
        font-size: 26px;
    }

    .email {
        font-size: 40px;
    }
}

@media only screen and (max-width: 414px) {
    .email-header {
        flex-direction: column;
    }

    .email {
        font-size: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .email {
        font-size: 25px;
    }
}