.contact {
    padding: 50px;
}

.contact-header {
    font-family: 'Archivo';
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.email-header {
    font-family: 'Archivo Black';
    font-size: 50px;
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.email-container {
    padding: 20px;
}

.email {
    font-family: 'Archivo Black';
    font-size: 50px;
    color: white;
    display: inline;
    position: relative;
    overflow: hidden;
}

.email a {
    color: white;
    text-decoration: none;
}

.email:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  width: 0;
  bottom: -15px;
  background: white;
  height: 10px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.email:hover:after,
.email:focus:after,
.email:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.social-links {
    padding: 20px;
}

.social-links a {
    margin-right: 10px;
}

.linkedin-img,
.github-img,
.angellist-img {
    max-width: 25px;
}