.about-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about {
    padding: 50px;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
}

.about1 {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.profile-pic {
    max-width: 300px;
}

.second-pic {
    max-width: 300px;
}

.showProfile {
    display: block;
}

.about1 {
    font-family: 'Archivo Black';
    color: white;
    font-size: 40px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.about3,
.about5,
.about7,
.about9,
.about11,
.about2,
.about4,
.about6,
.about8,
.about10,
.about12 {
    font-family: 'Archivo Black';
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 40px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin: 0 auto; */
}

.about1:hover,
.about3:hover,
.about5:hover,
.about7:hover,
.about9:hover,
.about11:hover,
.about2:hover,
.about4:hover,
.about6:hover,
.about8:hover,
.about10:hover,
.about12:hover {
    color: white;
    -webkit-text-stroke-width: unset;
    -webkit-text-stroke-color: unset;
}

.removeHighlight {
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.unboldAndRemove {
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-decoration: none;
}

.boldName {
    color: white;
    -webkit-text-stroke-width: unset;
    -webkit-text-stroke-color: unset;
    text-decoration: underline;
}

@media only screen and (max-width: 1400px) {
    .about-wrapper {
        display: flex;
        flex-direction: column;
    }

    .profile-pic-container {
        padding-top: 100px;
    }

    .about {
        padding-top: 50px;
        text-align: center;
    }

    .second-pic {
        padding-bottom: 31px;
    }
}

@media only screen and (max-width: 920px) {
    .about1,
    .about2,
    .about3,
    .about4,
    .about5,
    .about6,
    .about7,
    .about8,
    .about9,
    .about10,
    .about11,
    .about12 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 812px) {
    .about1 {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        text-align: center;
    }

    .profile-pic,
    .second-pic {
        max-width: 200px;
    }

    .second-pic {
        padding-bottom: 21px;
    }

    .about2,
    .about3,
    .about4,
    .about5,
    .about6,
    .about7,
    .about8,
    .about9,
    .about10,
    .about11,
    .about12 {
        text-align: center;
        max-width: 600px;
    }
}

@media only screen and (max-width: 720px) {
    .about1,
    .about2,
    .about3,
    .about4,
    .about5,
    .about6,
    .about7,
    .about8,
    .about9,
    .about10,
    .about11,
    .about12 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 590px) {
    .about1,
    .about2,
    .about3,
    .about4,
    .about5,
    .about6,
    .about7,
    .about8,
    .about9,
    .about10,
    .about11,
    .about12 {
        font-size: 19px;
        /* color: white;
        -webkit-text-stroke-width: unset;
        -webkit-text-stroke-color: unset; */
    }
}


@media only screen and (max-width: 375px) {
    .about1,
    .about2,
    .about3,
    .about4,
    .about5,
    .about6,
    .about7,
    .about8,
    .about9,
    .about10,
    .about11,
    .about12 {
        font-size: 30px;
    }
}