.about {
    padding: 50px;
}

.about-title {
    font-family: 'Archivo';
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.about-img-summary-resume-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.about-img-container {
    padding-right: 50px;
}

.about-img {
    max-width: 100px;
    position: relative;
    z-index: 2;
}

.about-square {
    width: 100px;
    height: 100px;
    position: relative;
    top: -80px;
    left: 20px;
    outline-style: solid;
    outline-color: white;
    z-index: 1;
}

.about-summary-resume-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.about-summary {
    max-width: 500px;
    font-family: 'Archivo';
    color: white;
    font-size: 20px;
}

.about-summary-resume-container a {
    color: #5D4E60;
}

.about-resume {
    padding-top: 10px;
}