.splash-top {
    font-family: 'Archivo Black';
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 65px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 160px;
}

.splash-bottom {
    font-family: 'Archivo Black';
    color: white;
    font-size: 55px;
    text-align: center;
}


