.header {
    max-width: 1200px;
    margin: auto;
}

.header-main {
    font-family: 'Archivo Black';
    font-size: 55px;
    display: flex;
    justify-content: center;
    color: white;
}

.main-none {
    opacity: 0;
}

.header-abbr {
    font-family: 'Archivo Black';
    color: white;
    font-size: 24px;
    cursor: pointer;
    top: 10px;
    left: 30px;
    position: fixed;
    z-index: 5;
    display: none;
}

.abbr-show {
    display: block;
}

@media only screen and (max-width: 600px) {
    .header-main {
        font-size: 40px;
    }
}