.projects {
    padding: 50px;
}

.projects-header {
    font-family: 'Archivo';
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.project1,
.project2,
.project3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project2 {
    flex-direction: row-reverse;
}

.project1-img,
.project2-img,
.project3-img {
    max-width: 600px;
}

.project1-summary,
.project2-summary,
.project3-summary  {
    font-family: 'Archivo';
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project2-summary {
    text-align: right;
}

.project1-name,
.project2-name,
.project3-name {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project1-description,
.project2-description,
.project3-description {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 500px;
}

.project1-links,
.project2-links,
.project3-links  {
    padding-top: 50px;
}

.project1-links a,
.project2-links a,
.project3-links a   {
    color: #5D4E60;
}