.projects {
    padding: 50px;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 65px;
}

.projects-left-side {
    margin-top: 150px;
}

.project1 {
    font-family: 'Archivo Black';
    font-size: 70px;
    color: white;
    padding-bottom: 10px;
    cursor: pointer;
}

.project2 {
    font-family: 'Archivo Black';
    font-size: 70px;
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    padding-bottom: 10px;
    cursor: pointer;
    max-width: fit-content;
}

.project3 {
    font-family: 'Archivo Black';
    font-size: 70px;
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    padding-bottom: 10px;
    cursor: pointer;
    max-width: fit-content;
}

.proofs-img,
.huddle-img,
.pacman-img {
    display: flex;
    max-width: 750px;
    cursor: pointer;
}

.proofs-img {
    margin-top: 20px;
}

.huddle-img,
.pacman-img {
    display: none;
}

.turnProject2,
.turnProject3 {
    color: white; 
    -webkit-text-stroke-width: unset;
    -webkit-text-stroke-color: unset;
}

.removeProject1 {
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.project1-summary,
.project2-summary,
.project3-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -100px;
    align-items: center;
    font-family: 'Archivo';
    color: white;
    opacity: 0;
}

.project1-description,
.project2-description,
.project3-description {
    font-size: 20px;
}

.project1-tech,
.project2-tech,
.project3-tech {
    padding: 5px;
}

.project1-links,
.project2-links,
.project3-links {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.project1-links a,
.project2-links a,
.project3-links a {
    font-family: 'Archivo';
    color: white;
    margin-right: 10px;
}

.visible {
    opacity: 1;
}

.removeImg {
    display: none;
}

.showImg {
    display: flex;
    margin-top: 49px;
}

.pacman-img.showImg {
    margin-top: 77px;
}

.projects-right-side {
    min-height: 520px;
}

@media only screen and (max-width: 1080px) {
    .projects {
        display: flex;
        flex-direction: column-reverse;
    }

    .projects-right-side {
        margin: 0 auto;
        margin-top: -150px;
    }

    .projects-left-side {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 812px) {
    .proofs-img,
    .huddle-img,
    .pacman-img {
        max-width: 400px;
    }

    .projects-right-side {
        margin: 0 auto;
        min-height: 320px;
    }

    .project1-img-container {
        margin-top: -80px;
        display: flex;
        justify-content: center;
    }

    .project2-img-container {
        margin-top: -75px;
        display: flex;
        justify-content: center;
    }

    .project3-img-container {
        margin-top: -80px;
        display: flex;
        justify-content: center;
    }

    .projects-left-side {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        min-height: 220px;
    }

    .project1,
    .project2, 
    .project3 {
        font-size: 30px;
        max-width: 200px;
    }

    .project1-summary,
    .project2-summary,
    .project3-summary {
        margin-top: -20px;
        text-align: center;
        max-width: 380px;
    }

    .project1-description,
    .project2-description,
    .project3-description {
        font-size: 18px;
    }

    .project1-tech,
    .project2-tech,
    .project3-tech {
        font-size: 12px;
    }
}

@media only screen and (max-width: 800px) {
    .projects {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
    }

    .projects-right-side {
        margin: 0 auto;
    }

    .projects-left-side {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .project1,
    .project2,
    .project3 {
        font-size: 40px;
        max-width: 300px;
    }
}

@media only screen and (max-width: 414px) {
    .projects {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
    }

    .projects-right-side {
        margin: 0 auto;
    }

    .projects-left-side {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}