.app {
    background-color: #A88FAC;
    overflow: hidden;
}

.navbar-container {
    margin: 0 auto;
    max-width: 1400px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    color: white;
    font-family: 'Archivo';
    font-size: 14px;
}

.navbar-first-half,
.navbar-second-half {
    display: flex;
    flex-direction: row;
}

.navbar-first-half div,
.navbar-second-half div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.arrow {
    font-family: 'Archivo Black';
    color: #A88FAC;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 30px;
    text-align: center;
    max-width: 30px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    z-index: 3;
}

.arrow:hover {
    animation: 2s shakeY infinite; 
    cursor: pointer;
    color: white;
}

.copyright-container {
    display: flex;
    justify-content: center;
}

.copyright {
    font-family: 'Archivo';
    font-size: 18px;
    color: white;
    padding: 20px;
}

.contact-container {
    display: flex;
    justify-content: center;
}